<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <title>Liste des etudiants</title>
        <link rel="stylesheet" type="text/css"  
              th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
         <link rel="stylesheet" type="text/css" href="../static/css/myStyle.css" 
              th:href="@{/css/myStyle.css}" />
         
         
        
    </head>
    <body>
        <div class="container spacer">
            <a th:href="@{form}">Saisir un etudiant</a>
        </div>
        <div class="container spacer">
            <form th:action="@{index}" method="get">
                <div class="form-group">
                    <label>Mot Clé:</label>
                    <input type="text" name="motCle" th:value="${motCle}" />
                    <button type="submit">Chercher</button>
                    
                </div>
            </form>
        </div>
        <div class="container spacer" id="donnees">
            <table class="table table-striped" id="hg">
                <thead>
                    <tr>
                        <th>ID</th><th>Nom</th><th>Date</th><th>Photo</th>
                    </tr>
                </thead>
                <tbody >
                    <tr th:each="e : ${pageEtudiants.content}">
                        <td th:text="${e.id}"></td>
                        <td th:text="${e.nom}"></td>
                        <td th:text="${e.dateNaissance}"></td>
                        <td th:text="${e.email}"></td>
                        <td th:text="${e.photo}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="container">
            <ul class="nav nav-pills">
                <li th:each="p : ${pages}" th:class="${p == pageCourante}? active : '' ">
                    <a th:text="${p}" th:href="@{index(page=${p}, motCle=${motCle})}"></a>
                </li>
            </ul>
        </div>
        
        <script th:src="@{/webjars/jquery/jquery.min.js}" />
        
        <script th:src="@{/js/myScript.js}" />
    </body>
    
    
</html>
